@import '../../assets/common.less';
.nav_ctn{
	width:100%;
	padding:2px;
	background:white;
	box-shadow: 0 0 3px black;
	.box_flex(row wrap,space-between,flex-start);
	li{
		flex: 1;
		text-align: center;
		.txt{
			font-size: 12px;
		}
	}
}